<div class="contenedor">
  <form  class="form" [formGroup]="clientFormGroup" novalidate (ngSubmit)="saveClient()" (ngUpdate)="updateClient()">
  
    <div class="form-header">

    <h1 class="title">Clients Forms</h1>

  </div>
   
  <div>
    <label class="form-label">Name</label>
    <input type="text"  formControlName="name" class="form-input" name="name">

    <div *ngIf="clientFormGroup.get('name').invalid && (clientFormGroup.get('name').dirty || clientFormGroup.get('name').touched)">

      <div *ngIf="clientFormGroup.get('name').errors.required">
        <p class="errors"> *El campo es requerido </p>
      </div>
      <div *ngIf="clientFormGroup.get('name').errors.maxlength">
        <p class="errors"> *el campo solo puede tener 6 caracteres </p>
      </div>
    </div>
  </div>

  <div>
    <label class="form-label">Document</label>
    <input type="text" formControlName="document" class="form-input" name="document">
    <div *ngIf="clientFormGroup.get('document').invalid && (clientFormGroup.get('document').dirty || clientFormGroup.get('document').touched)">

      <div *ngIf="clientFormGroup.get('document').errors.required">
        <p class="errors"> *El campo es requerido </p>
      </div>
      <div *ngIf="clientFormGroup.get('document').errors.maxlength">
        <p class="errors"> *el campo solo puede tener 10 caracteres </p>
      </div>
    </div>
  </div>

  <div>
    <label class="form-label">Email</label>
    <input type="text" formControlName="email" class="form-input" name="email">
    <div *ngIf="clientFormGroup.get('email').invalid && (clientFormGroup.get('email').dirty || clientFormGroup.get('email').touched)">

      <div *ngIf="clientFormGroup.get('email').errors.required">
        <p class="errors"> *El campo es requerido </p>
      </div>
      <div *ngIf="clientFormGroup.get('email').errors.maxlength">
        <p class="errors"> *el campo solo puede tener 12 caracteres </p>
      </div>
    </div>
  </div>

  <div>
    <label class="form-label">Phone Number</label>
    <input type="text" formControlName="phoneNumber" class="form-input" name="phoneNumber">
    <div *ngIf="clientFormGroup.get('phoneNumber').invalid && (clientFormGroup.get('phoneNumber').dirty || clientFormGroup.get('phoneNumber').touched)">

      <div *ngIf="clientFormGroup.get('phoneNumber').errors.required">
        <p class="errors"> *El campo es requerido </p>
      </div>
      <div *ngIf="clientFormGroup.get('phoneNumber').errors.maxlength">
        <p class="errors"> *el campo solo puede tener 12 caracteres </p>
      </div>
    </div>
  </div>

  <div>
    <label class="form-label">Document Type</label>
    <input type="text" formControlName="documentType" class="form-input" name="documentType">
    <div *ngIf="clientFormGroup.get('documentType').invalid && (clientFormGroup.get('documentType').dirty || clientFormGroup.get('documentType').touched)">

      <div *ngIf="clientFormGroup.get('documentType').errors.required">
        <p class="errors"> *El campo es requerido </p>
      </div>
      <div *ngIf="clientFormGroup.get('documentType').errors.maxlength">
        <p class="errors"> *el campo solo puede tener 8 caracteres </p>
      </div>
    </div>
  </div>


    <button type="submit" [disabled]="clientFormGroup.invalid" class="boton">Guardar</button>
    
  </form>
</div>