*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-image: url('./../../../assets/Imagenes/formsC.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
}

.contenedor .form{
    background: rgba(0, 0, 0, .6);
    position: relative;
    width: 80%;
    margin: auto;
    max-width: 100%;
    padding: 5px 35px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .form-header, .form-title, .form-label, .form-input, .boton{
    display: block;
    font-size: 16px;
    font-family: monospace;
    color: #ffffff;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: .7em;
    border: none;
}

.form-input{
border-bottom: 4px solid rgb(6, 198, 140);
 padding: .3em;
 width: 50%;
background: rgba(0, 0, 0, .6);
color: #FFFFFF;
}

.boton::after, .boton:disabled{
    display: block;
    position: relative;
    margin: auto;
    margin-top: .7em;
    border: none;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .4);
    padding: 4px;
    width: 25%;
    cursor: pointer;
    border-radius: 6px;
}
.boton::before, .boton:valid{
    display: block;
    position: relative;
    margin: auto;
    margin-top: .7em;
    border: none;
    color: #FFFFFF;
    background: #C60612;
    padding: 4px;
    width: 25%;
    cursor: pointer;
    border-radius: 6px;
}

.errors{
    position: relative;
    text-align: center;
    font-size: .8em;
    font-family: Arial;
    color: rgb(204, 17, 17);
    margin-top: .5em;
}

