<div class="contenedor">
    <h1 class="tittle">User List</h1>    
    <table >
        <tr>
       <th class="superior"> userId</th>
       <th class="superior"> Id</th>    
       <th class="superior"> Title</th>  
       <th class="superior"> Body</th> 
    </tr> 
    <tr *ngFor="let item of userList">
    <td class="inferior">{{ item.userId }}</td>
    <td class="inferior">{{ item.id }}</td>
    <td class="inferior">{{ item.title }}</td>
    <td class="inferior">{{ item.body }}</td>

    </tr>
    </table>
   </div>
