<p>clients-list works!</p>

<div class="contenedor">
    <table>
        <tr>
       <th class="superior"> Id</th>    
       <th class="superior"> Name</th>   
       <th class="superior"> Document</th>  
       <th class="superior"> Email</th>
       <th class="superior"> Phone Number</th>
       <th class="superior"> Document Type</th>
       <th class="superior"> Action</th>
    </tr> 
    <tr *ngFor="let item of clientsList">
    <td class="inferior">{{ item.id }}</td>
    <td class="inferior">{{ item.name }}</td>
    <td class="inferior">{{ item.document }}</td>
    <td class="inferior">{{ item.email }}</td>
    <td class="inferior">{{ item.phoneNumber }}</td>
    <td class="inferior">{{ item.documentType }}</td>
    <td class="inferior"><a class="link" [routerLink]="['../clients-update', item.id]"  routerLinkActive="routerLink.">Update</a></td>
    </tr>
    </table>
   </div>