*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .contenedor{
    background-image: url('./../../../assets/Imagenes/forms.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }
 .contenedor table{
    font-weight: normal;
     font-family: sans-serif;
     text-align: center;
     padding: 14px 0;
 }
 
 .contenedor table{
    position: relative;
     width: 100%;
     margin: auto;
     max-width: 100%;
     padding: 5px 35px;
     padding-bottom: 30px;
     border-radius: 3px;
       background: rgba(0, 0, 0, .6);
 }
 
 table{
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 50%;
 }
 
 .superior{
    background: rgb(128, 28, 19);
    color:  rgb(20, 18, 18);
    border-radius: 6px;
 }
 
 .inferior{
    border-radius: 6px;
    background: rgba(146, 145, 145, .4);
    color: #FFFFFF;
 }
 .link{
    text-decoration: none;
    color: rgb(20, 18, 18);
    cursor: pointer;
    color: #FFFFFF;
 }